@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
}
header {
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
}
header .logo {
  font-size: 24px;
  font-weight: 400;
  color: #f9faf8;
}
header nav a {
  color: #e5e7eb;
  text-decoration: none;
  margin-left: 20px;
  font-size: 18px;
}
/* Hero section */

.hero {
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px;
  flex-wrap: wrap;
}
.left-section {
  max-width: 500px;
}
.left-section h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin-bottom: 10px;
}
.left-section button {
  background-color: #3882f6;
  color: #f9faf8;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 8px;
  padding: 10px 20px;
  margin-top: 20px;
}
.right {
  background-color: gray;
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  margin-top: 20px;
}
/* Info-section */
.info {
  text-align: center;
  padding: 50px 20px;
}
.info h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  margin-bottom: 40px;
}
.info-cards {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}
.card {
  max-width: 150px;
}
.card-image {
  width: 150px;
  height: 150px;
  border: 3px solid #3882f6;
  border-radius: 16px;
  margin-bottom: 10px;
}
.card p {
  font-size: 14px;
  color: #555;
}
/* Quote Section */
.quote {
  background-color: #e5e7eb;
  padding: 80px 20px;
  text-align: center;
}

.quote p {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1f2937;
  max-width: 800px;
  margin: 0 auto;
}

.quote .author {
  font-weight: 400;
  font-style: normal;
  margin-top: 20px;
  font-size: 18px;
  text-align: right;
  padding-right: 100px;
}

/* CTA Section */
.cta {
  background-color: #3882f6;
  color: #f9faf8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 80px;
  border-radius: 8px;
  padding: 40px;
  flex-wrap: wrap;
}

.cta-text h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.cta-text p {
  font-size: 16px;
  color: #e5e7eb;
}

.cta button {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 10px 20px;
  border: 2px solid #f9faf8;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

/* Footer */
footer {
  background-color: #1f2937;
  color: #f9faf8;
  text-align: center;
  padding: 20px;
}
